apiVersion: apps/v1
kind: Deployment
metadata: 
  name: bids-mongo-depl
spec:
  replicas: 1
  selector: 
    matchLabels: 
      app: bids-mongo
  template: 
    metadata: 
      labels: 
        app: bids-mongo
    spec:
      containers:
        - name: auth-mongo-depl
          image: mongo
          args: ["--replSet", "rs0", "--bind_ip_all"]
---
apiVersion: v1
kind: Service
metadata:
  name: bids-mongo-srv
spec:
  selector:
    app: bids-mongo
  ports:
    - name: db
      protocol: TCP
      port: 27017
      targetPort: 27017