services:
  listings:
    build: .
    container_name: listings-service
    restart: always
    ports:
      - 3000:3000
    environment: 
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017/listings
      - REDIS_URI=redis://localhost:6379
      - RABBITMQ_URI=amqp://guest:guest@rabbitmq:5672/
  
  mongo:
    image: mongo
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  rabbitmq:
      image: rabbitmq:3-management
      ports:
        - 5672:5672
        - 15672:15672 # Management UI at http://localhost:15672
      environment:
        - RABBITMQ_DEFAULT_USER=guest
        - RABBITMQ_DEFAULT_PASS=guest