services:
  bids:
    build: .
    container_name: bids-service
    restart: always
    ports:
      - 3000:3000
    environment: 
      - PORT=3000
      - MONGO_URI=mongodb://mongo:27017
      - RABBITMQ_URI=amqp://guest:guest@rabbitmq:5672/
  
  mongo:
    image: mongo
    command: ["--replSet", "rs0"]
    container_name: mongo_db
    restart: always
    ports:
      - "27017:27017"

  rabbitmq:
      image: rabbitmq:3-management
      ports:
        - 5672:5672
        - 15672:15672 # Management UI at http://localhost:15672
      environment:
        - RABBITMQ_DEFAULT_USER=guest
        - RABBITMQ_DEFAULT_PASS=guest